<?xml version="1.0" encoding="UTF-8"?>

<web-app id="WebApp_9" version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>caarray</display-name>

    <!-- Define the basename for a resource bundle for I18N -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ApplicationResources</param-value>
    </context-param>

    <context-param>
        <param-name>caarrayVersion</param-name>
        <param-value>@caarray.version@</param-value>
    </context-param>
    <context-param>
        <param-name>svnUrl</param-name>
        <param-value>@svn.url@</param-value>
    </context-param>
    <context-param>
        <param-name>svnRevision</param-name>
        <param-value>@svn.revision@</param-value>
    </context-param>
    <context-param>
        <param-name>uptUrl</param-name>
        <param-value>@upt.url@</param-value>
    </context-param>
    <context-param>
        <param-name>ldapHost</param-name>
        <param-value>@ldap.host@</param-value>
    </context-param>
    <context-param>
        <param-name>ldapSearchableBase</param-name>
        <param-value>@ldap.searchbase@</param-value>
    </context-param>
    <context-param>
        <param-name>ldapUserIdLabel</param-name>
        <param-value>@ldap.searchprefix@</param-value>
    </context-param>
    <context-param>
        <param-name>ldap.install</param-name>
        <param-value>@ldap.install@</param-value>
    </context-param>

    <filter>
        <filter-name>temporaryFilesFilter</filter-name>
        <filter-class>gov.nih.nci.caarray.web.filter.TemporaryFilesCleanupFilter</filter-class>
    </filter>
    <filter>
        <filter-name>openSessionFilter</filter-name>
        <filter-class>gov.nih.nci.caarray.web.filter.OpenSessionInViewFilter</filter-class>
    </filter>
    <filter>
        <filter-name>userFilter</filter-name>
        <filter-class>gov.nih.nci.caarray.web.filter.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>cacheControlFilter</filter-name>
        <filter-class>gov.nih.nci.caarray.web.filter.CacheControlFilter</filter-class>
    </filter>
    <filter>
        <filter-name>action2-cleanup</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
    </filter>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>gov.nih.nci.caarray.web.filter.CaarrayStruts2FilterDispatcher</filter-class>
    </filter>
    <filter>
        <filter-name>urlrewrite</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>statusEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
           <filter-name>urlrewrite</filter-name>
           <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>cacheControlFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>temporaryFilesFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>openSessionFilter</filter-name>
        <url-pattern>*.action</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>action2-cleanup</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
    <listener>
        <listener-class>gov.nih.nci.caarray.web.listener.StartupListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>dwr</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/index.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>protected</web-resource-name>
            <url-pattern>/protected/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PrincipalInvestigator</role-name>
            <role-name>ResearchScientist</role-name>
            <role-name>LabAdministrator</role-name>
            <role-name>Biostatistician</role-name>
            <role-name>SystemAdministrator</role-name>
            <role-name>Collaborator</role-name>
            <role-name>LabScientist</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>protected</web-resource-name>
            <url-pattern>/protected/File_manage.action</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PrincipalInvestigator</role-name>
            <role-name>ResearchScientist</role-name>
            <role-name>Biostatistician</role-name>
            <role-name>SystemAdministrator</role-name>
            <role-name>Collaborator</role-name>
            <role-name>LabScientist</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.action?error=true</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description>A Principal Investigator (PI) typically owns experiments and studies/projects.</description>
        <role-name>PrincipalInvestigator</role-name>
    </security-role>

    <security-role>
        <description></description>
        <role-name>__anonymous__</role-name>
    </security-role>

    <security-role>
        <description></description>
        <role-name>ResearchScientist</role-name>
    </security-role>

    <security-role>
        <description></description>
        <role-name>LabAdministrator</role-name>
    </security-role>

    <security-role>
        <description></description>
        <role-name>Biostatistician</role-name>
    </security-role>

    <security-role>
        <description></description>
        <role-name>SystemAdministrator</role-name>
    </security-role>

    <security-role>
        <description></description>
        <role-name>Collaborator</role-name>
    </security-role>

    <security-role>
        <description></description>
        <role-name>LabScientist</role-name>
    </security-role>
</web-app>
