<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_9" version="2.5"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>caarray</display-name>

	<!-- CAS Settings -->
	<context-param>
		<param-name>serverName</param-name>
		<param-value>@jboss.protocol@://@jboss.server.hostname@:@jboss.server.port@</param-value>
	</context-param>
    <context-param>
        <param-name>casServerUrl</param-name>
        <param-value>https://@cas.server.hostname@:@cas.server.port@/cas</param-value>
    </context-param>
	<context-param>
		<param-name>casServerLoginUrl</param-name>
		<param-value>https://@cas.server.hostname@:@cas.server.port@/cas/login</param-value>
	</context-param>
    <context-param>
        <param-name>casServerLogoutUrl</param-name>
        <param-value>https://@cas.server.hostname@:@cas.server.port@/cas/logout</param-value>
    </context-param>
	<context-param>
	    <description>This parameter indicates to the application that single sign on is enabled and it should not show login fields.</description>
		<param-name>ssoEnabled</param-name>
		<param-value>true</param-value>
	</context-param>

    <!-- Define the basename for a resource bundle for I18N -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ApplicationResources</param-value>
    </context-param>

    <context-param>
        <param-name>caarrayVersion</param-name>
        <param-value>@git.caarray.version@</param-value>
    </context-param>
    <context-param>
        <param-name>nodeName</param-name>
        <param-value>NCICB</param-value>
    </context-param>
    <context-param>
        <param-name>gitUrl</param-name>
        <param-value>@git.url@</param-value>
    </context-param>
    <context-param>
        <param-name>gitRevision</param-name>
        <param-value>@git.revision@</param-value>
    </context-param>
    <context-param>
        <param-name>buildTime</param-name>
        <param-value>@build.time@</param-value>
    </context-param>
    <context-param>
        <param-name>uptUrl</param-name>
        <param-value>@upt.url@</param-value>
    </context-param>
    <context-param>
        <param-name>releaseNotesUrl</param-name>
        <param-value>@release-notes.url@</param-value>
    </context-param>
    <context-param>
        <param-name>ldapHost</param-name>
        <param-value>@ldap.host@</param-value>
    </context-param>
    <context-param>
        <param-name>ldapSearchableBase</param-name>
        <param-value>@ldap.searchbase@</param-value>
    </context-param>
    <context-param>
        <param-name>ldapUserIdLabel</param-name>
        <param-value>@ldap.searchprefix@</param-value>
    </context-param>
    <context-param>
        <param-name>ldap.install</param-name>
        <param-value>@ldap.install@</param-value>
    </context-param>
	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/applicationContext-plugins.xml
        </param-value>
    </context-param>

	<!-- Only 2 CAS filters are required for JAAS support -->
	<!--TODO ARRAY-2453 Change this back to org.jasig.cas.client.jboss.authentication.WebAuthenticationFilter
		when moving back to official CAS Web authentication filter -->
	<filter>
		<filter-name>CASWebAuthenticationFilter</filter-name>
		<filter-class>gov.nih.nci.caarray.web.filter.CasWebAuthenticationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CASAuthenticationFilter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CASAuthenticationFilterGateway</filter-name>
		<!--Update when working on ARRAY-2516-->
		<filter-class>gov.nih.nci.caarray.web.filter.CasAuthenticationFilter</filter-class>
        <init-param>
            <param-name>gateway</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>excludePatterns</param-name>
            <param-value>.*/ajax/.*</param-value>
        </init-param>
	</filter>

    <filter>
        <filter-name>temporaryFilesFilter</filter-name>
        <filter-class>gov.nih.nci.caarray.web.filter.TemporaryFilesCleanupFilter</filter-class>
    </filter>
    <filter>
        <filter-name>openSessionFilter</filter-name>
        <filter-class>gov.nih.nci.caarray.web.filter.OpenSessionInViewFilter</filter-class>
    </filter>
    <filter>
        <filter-name>userFilter</filter-name>
        <filter-class>gov.nih.nci.caarray.web.filter.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>cacheControlFilter</filter-name>
        <filter-class>gov.nih.nci.caarray.web.filter.CacheControlFilter</filter-class>
    </filter>
    <filter>
      <filter-name>neverExpireFilter</filter-name>
      <filter-class>gov.nih.nci.caarray.web.filter.NeverExpireFilter</filter-class>
    </filter>
    <filter>
      <filter-name>longCacheFilter</filter-name>
      <filter-class>gov.nih.nci.caarray.web.filter.LongCacheFilter</filter-class>
    </filter>
    <filter>
        <filter-name>action2-cleanup</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
    </filter>

    <filter>
        <filter-name>filter-plugin-dispatcher-after-encoding-request</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>after-encoding</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>REQUEST</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-after-encoding-forward</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>after-encoding</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>FORWARD</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-after-encoding-include</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>after-encoding</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>INCLUDE</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-after-encoding-error</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>after-encoding</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>ERROR</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>filter-plugin-dispatcher-before-login-request</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-login</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>REQUEST</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-before-login-forward</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-login</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>FORWARD</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-before-login-include</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-login</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>INCLUDE</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-before-login-error</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-login</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>ERROR</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>filter-plugin-dispatcher-before-decoration-request</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-decoration</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>REQUEST</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-before-decoration-forward</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-decoration</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>FORWARD</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-before-decoration-include</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-decoration</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>INCLUDE</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-before-decoration-error</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-decoration</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>ERROR</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>gov.nih.nci.caarray.web.filter.CaarrayStruts2FilterDispatcher</filter-class>
    </filter>
    <filter>
        <filter-name>urlrewrite</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>statusEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

        <filter>
        <filter-name>filter-plugin-dispatcher-before-dispatch-request</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-dispatch</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>REQUEST</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-before-dispatch-forward</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-dispatch</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>FORWARD</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-before-dispatch-include</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-dispatch</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>INCLUDE</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>filter-plugin-dispatcher-before-dispatch-error</filter-name>
        <filter-class>com.atlassian.plugin.servlet.filter.ServletFilterModuleContainerFilter</filter-class>
        <init-param>
            <param-name>location</param-name>
            <param-value>before-dispatch</param-value>
        </init-param>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>ERROR</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>sessionFixation</filter-name>
        <filter-class>com.fiveamsolutions.nci.commons.web.filter.SessionFixationProtectionFilter</filter-class>
    </filter>

	<!-- CAS client filter mappings -->
	<!-- The order of the following filters is vitally important -->
	<filter-mapping>
		<filter-name>CASWebAuthenticationFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CASAuthenticationFilterGateway</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CASAuthenticationFilter</filter-name>
		<url-pattern>/protected/*</url-pattern>
		<url-pattern>/login.action</url-pattern>
	</filter-mapping>

    <filter-mapping>
           <filter-name>urlrewrite</filter-name>
           <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-after-encoding-request</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-after-encoding-forward</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-after-encoding-include</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-after-encoding-error</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sessionFixation</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>cacheControlFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>temporaryFilesFilter</filter-name>
        <url-pattern>*.action</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>openSessionFilter</filter-name>
        <url-pattern>*.action</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>neverExpireFilter</filter-name>
        <url-pattern>/scripts/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>longCacheFilter</filter-name>
        <url-pattern>/scriptslib/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>neverExpireFilter</filter-name>
        <url-pattern>/styles/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>longCacheFilter</filter-name>
        <url-pattern>/images/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>longCacheFilter</filter-name>
        <url-pattern>/logos/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-login-request</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-login-forward</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-login-include</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-login-error</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>action2-cleanup</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-decoration-request</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-decoration-forward</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-decoration-include</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-decoration-error</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-dispatch-request</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-dispatch-forward</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-dispatch-include</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filter-plugin-dispatcher-before-dispatch-error</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
    <listener>
        <listener-class>gov.nih.nci.caarray.web.listener.StartupListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>plugins</servlet-name>
        <servlet-class>com.atlassian.plugin.servlet.ServletModuleContainerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>plugins</servlet-name>
        <url-pattern>/plugins/servlet/*</url-pattern>
    </servlet-mapping>

    <session-config>
      <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/index.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>

   <security-constraint>
        <web-resource-collection>
            <web-resource-name>Non-SSO Protection</web-resource-name>
            <url-pattern>/protected/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PrincipalInvestigator</role-name>
            <role-name>ResearchScientist</role-name>
            <role-name>LabAdministrator</role-name>
            <role-name>Biostatistician</role-name>
            <role-name>SystemAdministrator</role-name>
            <role-name>Collaborator</role-name>
            <role-name>LabScientist</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>protected</web-resource-name>
            <url-pattern>/protected/File_manage.action</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PrincipalInvestigator</role-name>
            <role-name>ResearchScientist</role-name>
            <role-name>Biostatistician</role-name>
            <role-name>SystemAdministrator</role-name>
            <role-name>Collaborator</role-name>
            <role-name>LabScientist</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>protected</web-resource-name>
            <url-pattern>/protected/audit/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>PrincipalInvestigator</role-name>
            <role-name>ResearchScientist</role-name>
            <role-name>LabAdministrator</role-name>
            <role-name>Biostatistician</role-name>
            <role-name>SystemAdministrator</role-name>
            <role-name>Collaborator</role-name>
            <role-name>LabScientist</role-name>
        </auth-constraint>
    </security-constraint>

     <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.action?error=true</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description>A Principal Investigator (PI) typically owns experiments and studies/projects.</description>
        <role-name>PrincipalInvestigator</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>__anonymous__</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>ResearchScientist</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>LabAdministrator</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>Biostatistician</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>SystemAdministrator</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>Collaborator</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>LabScientist</role-name>
    </security-role>
</web-app>
