<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>caArray</display-name>
    <description>
        caArray Portal
    </description>

    <context-param>
        <param-name>caarrayVersion</param-name>
        <param-value>@caarray.version@</param-value>
    </context-param>
    <context-param>
        <param-name>svnUrl</param-name>
        <param-value>@svn.url@</param-value>
    </context-param>
    <context-param>
        <param-name>svnRevision</param-name>
        <param-value>@svn.revision@</param-value>
    </context-param>

    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>gov.nih.nci.caarray.filters.UserFilter</filter-class>
    </filter>

    <filter>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
        <init-param>
            <param-name>maxFileSize</param-name>
            <param-value>20m</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
    </filter-mapping>

   <listener>
      <listener-class>gov.nih.nci.caarray.startup.StartupHandler</listener-class>
    </listener>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Faces Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>project/workspace.faces</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>projects</web-resource-name>
            <url-pattern>/project/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
          <role-name>PrincipalInvestigator</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/index.faces</form-login-page>
            <form-error-page>/index.faces</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description>A Principal Investigator (PI) typically owns experiments and studies/projects.</description>
        <role-name>PrincipalInvestigator</role-name>
    </security-role>
</web-app>
