bin/
software/build/local.properties
software/build/target/
software/caarray-client.jar/target/
software/caarray-common.jar/target/
software/caarray.ear/target/
software/caarray-ejb.jar/target/
software/caarray.war/target/
software/caarraydb/target/
software/copy-number-converter/target/
software/download/
software/grid/common/target/
software/grid/legacy/build/
software/grid/legacy/cagrid_CaArraySvc.zip
software/grid/legacy/deploy.properties
software/grid/v1_0/build/
software/grid/v1_0/cagrid_CaArraySvc*.zip
software/grid/v1_0/deploy.properties
software/lib/
software/master_build/.ivy2-caarray-cache/
software/master_build/download/
software/master_build/lib/
software/plugins/affymetrix-platform/target/
software/plugins/agilent-platform/target/
software/plugins/copynumber-platform/target/
software/plugins/genepix-platform/target/
software/plugins/illumina-platform/target/
software/plugins/nimblegen-platform/target/
software/plugins/target/
software/target/
software/tools/