<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">


<web-app>
	<context-param>
       	<param-name>cacoreBeans.Properties</param-name>
		<param-value>cacoreBeans.properties</param-value>
	</context-param>
	
	<context-param>
	    <param-name>cacoreFormat.xsl</param-name>
		<param-value>xslt/cacoreFormat.xsl</param-value>
	</context-param>
	<context-param>
		<param-name>rowCounter</param-name>
		<param-value>200</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<filter>
		<filter-name>CSMHTTPFilter</filter-name>
		<display-name>CSMHTTPFilter</display-name>
		<description></description>
		<filter-class>gov.nih.nci.system.proxy.CSMHTTPFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CSMHTTPFilter</filter-name>
		<url-pattern>/GetXML</url-pattern>
	</filter-mapping>
    
	<filter-mapping>
		<filter-name>CSMHTTPFilter</filter-name>
		<url-pattern>/GetHTML</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>sdkstartup</servlet-name>
		<servlet-class>
			gov.nih.nci.common.util.WebStartupUtil
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>context</servlet-name>
		<servlet-class>
			org.springframework.web.context.ContextLoaderServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>httpinvoker</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>	
    
    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetXML</servlet-name>
        <servlet-class>gov.nih.nci.system.proxy.HTTPQuery</servlet-class>        	
    </servlet>
    <servlet>
    	<servlet-name>GetHTML</servlet-name>
    	<servlet-class>gov.nih.nci.system.proxy.HTTPQuery</servlet-class>        	
    </servlet>
	<servlet>
    	<servlet-name>Happy</servlet-name>
		<jsp-file>/Happy.jsp</jsp-file>     	
    </servlet>
    
	<servlet-mapping>
		<servlet-name>httpinvoker</servlet-name>
		<url-pattern>/http/*</url-pattern>
	</servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/ws/AxisServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>GetXML</servlet-name>
    	<url-pattern>/GetXML</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>GetHTML</servlet-name>
      	<url-pattern>/GetHTML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Happy</servlet-name>
      	<url-pattern>/Happy</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>Happy.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
