#macro( displayCssMenu $menu )

#set ($projectId = $request.getAttribute("projectId"))

    <ul>
        #foreach ($menuItem in $menu.components)
            #if($menuItem.name == "ManageFiles")
                <li><a href="$menuItem.url?project.id=${projectId}" title="$displayer.getMessage($menuItem.title)">$displayer.getMessage($menuItem.title)</a></li>
            #else
                <li><a href="$menuItem.url" title="$displayer.getMessage($menuItem.title)">$displayer.getMessage($menuItem.title)</a></li>
            #end
        #end
    </ul>
#end

#displayCssMenu($menu)