:unknown {
	OVERFLOW-Y: scroll
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 85%; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: arial,helvetica,sans-serif
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 85%; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: arial,helvetica,sans-serif
}
UNKNOWN {
	FONT-SIZE: 87%
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px; empty-cells: show
}
TABLE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px; empty-cells: show
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; FONT-FAMILY: arial,helvetica,sans-serif
}
TH {
	TEXT-ALIGN: left
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #386ebf; TEXT-DECORATION: none
}
A:hover {
	COLOR: #455681; TEXT-DECORATION: underline
}
LI {
	LIST-STYLE-TYPE: none
}
P {
	LINE-HEIGHT: 1.4em
}
LI {
	LINE-HEIGHT: 1.4em
}
H1 {
	LINE-HEIGHT: 1.4em
}
H2 {
	LINE-HEIGHT: 1.4em
}
H3 {
	LINE-HEIGHT: 1.4em
}
H4 {
	LINE-HEIGHT: 1.4em
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1.4em; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 155%; BACKGROUND: #cfcfcf; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 4px
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 145%; MARGIN: 0px 0px 8px; COLOR: #606060; LINE-HEIGHT: 1.2em; FONT-FAMILY: arial,helvetica,sans-serif
}
H3 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 130%; PADDING-BOTTOM: 5px; COLOR: #98a0a9; LINE-HEIGHT: 1.4em; PADDING-TOP: 5px; FONT-FAMILY: arial,helvetica,sans-serif
}
H4 {
	FONT-SIZE: 100%; PADDING-BOTTOM: 5px; COLOR: #606060; LINE-HEIGHT: 1.4em
}
LABEL {
	FONT-WEIGHT: bold; FONT-SIZE: 95%; COLOR: #333; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
INPUT {
	FONT-SIZE: 100%; COLOR: #333; FONT-FAMILY: arial,helvetica,sans-serif
}
SELECT {
	FONT-SIZE: 100%; COLOR: #333; FONT-FAMILY: arial,helvetica,sans-serif
}
TEXTAREA {
	FONT-SIZE: 100%; COLOR: #333; FONT-FAMILY: arial,helvetica,sans-serif
}
FORM {
	DISPLAY: inline
}
SUB {
	FONT-SIZE: 80%; VERTICAL-ALIGN: -15%
}
SUP {
	FONT-SIZE: 80%; VERTICAL-ALIGN: 35%
}
UNKNOWN {
	FONT-SIZE: 70%; VERTICAL-ALIGN: -20%
}
#navskip {
	OVERFLOW: hidden; WIDTH: 0px; POSITION: absolute; HEIGHT: 0px
}
#nciheader {
	BACKGROUND: #a90101; HEIGHT: 37px
}
#ncilogo {
	FLOAT: left; WIDTH: 283px; HEIGHT: 37px
}
#nihtag {
	FLOAT: right; WIDTH: 295px; HEIGHT: 37px
}
#caarrayheader {
	BACKGROUND: url(../images/bg_topbar.gif) #6e6b60 no-repeat; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 50px
}
#caarraylogo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 172px; PADDING-TOP: 2px
}
#userarea {
	PADDING-RIGHT: 0px; MARGIN-TOP: 14px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 92%; BACKGROUND: url(../images/bg_user.jpg) no-repeat left 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 27.5em; COLOR: #bfd5d5; PADDING-TOP: 8px; HEIGHT: 30px
}
#userarea A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
#infobar {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; FONT-SIZE: 95%; BACKGROUND: url(../images/bg_logoutbar.gif) #414141 no-repeat left 0px; PADDING-BOTTOM: 3px; COLOR: #b3ae9c; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid
}
#infobar SPAN {
	COLOR: #fff
}
#rightinfo {
	TEXT-ALIGN: right
}
#workarea {
	BACKGROUND: url(../images/bg_leftbar.gif) #fff repeat-y left 50%
}
#mainwrapper {
	BACKGROUND: url(../images/bg_rightbar.gif) repeat-y right 50%
}
#main {
	BACKGROUND: url(../images/bg_rightbar.gif) repeat-y right 50%; FLOAT: left; WIDTH: 100%; MARGIN-RIGHT: -175px
}
#leftnavandcontent {
	BACKGROUND: url(../images/bg_leftbar.gif) repeat-y left 50%; MARGIN-RIGHT: 175px
}
.clear {
	CLEAR: both
}
#leftnav {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; FLOAT: left; TEXT-TRANSFORM: uppercase; WIDTH: 175px
}
#leftnav UL.caarraymenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 0.1%; PADDING-BOTTOM: 0px; WIDTH: 175px; PADDING-TOP: 0px
}
#leftnav UL A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 18px; MIN-HEIGHT: 0.1%; BACKGROUND: url(../images/bg_caarraymenu.gif) #e9e9e9 repeat-y right 50%; PADDING-BOTTOM: 3px; WIDTH: 149px; COLOR: #333; LINE-HEIGHT: 1.2em; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 1px solid
}
#leftnav UL A.selected {
	BACKGROUND: url(../images/ico_arrow.gif) #cacaca no-repeat 7px 7px
}
#leftnav UL A:hover {
	BACKGROUND: #d1cec4; TEXT-DECORATION: none
}
#leftnav UL A.selected:hover {
	BACKGROUND: url(../images/ico_arrow.gif) #d1cec4 no-repeat 7px 7px; TEXT-DECORATION: none
}
#leftnav UL A.selected:focus {
	BACKGROUND: url(../images/ico_arrow.gif) #d1cec4 no-repeat 7px 7px; TEXT-DECORATION: none
}
#leftnav UL A:focus {
	BACKGROUND: #d1cec4; outline: none
}
#leftnav LI.liheader {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #5c5c5c; PADDING-BOTTOM: 3px; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid
}
#leftnav UL.quicklinks {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; MIN-HEIGHT: 0.1%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; WIDTH: 175px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#leftnav UL.quicklinks A {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 18px; MIN-HEIGHT: 0.1%; BACKGROUND: #b3ae9c; PADDING-BOTTOM: 3px; WIDTH: 149px; COLOR: #fff; LINE-HEIGHT: 1.2em; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 1px solid
}
#leftnav UL.quicklinks A:hover {
	BACKGROUND: #9d9a8e
}
#leftnav UL.quicklinks A:focus {
	BACKGROUND: #9d9a8e
}
#leftnav UL.quicklinks A.external {
	BACKGROUND-POSITION: 5px 5px; BACKGROUND-IMAGE: url(../images/ico_externalsite.gif); BACKGROUND-REPEAT: no-repeat
}
#content {
	BORDER-TOP-WIDTH: 0px; MIN-HEIGHT: 400px; MARGIN-LEFT: 175px; BORDER-LEFT: #fff 1px solid
}
#content A {
	TEXT-DECORATION: underline
}
#content UL {
	PADDING-LEFT: 10px
}
#content UL LI {
	PADDING-LEFT: 8px; BACKGROUND: url(../images/ico_arrow2.gif) no-repeat 0px 4px; PADDING-BOTTOM: 10px
}
.intro {
	PADDING-RIGHT: 20px; FONT-SIZE: 120%; LINE-HEIGHT: 1.3em
}
.small {
	FONT-SIZE: 90%
}
.tiny {
	FONT-SIZE: 70%
}
.clear {
	CLEAR: both
}
#content A.external {
	PADDING-RIGHT: 12px; BACKGROUND: url(../images/ico_externalsite.gif) no-repeat right 50%
}
.nowrap {
	WHITE-SPACE: nowrap
}
.absmiddle {
	VERTICAL-ALIGN: middle
}
.centered {
	TEXT-ALIGN: center
}
.centeredsmall {
	FONT-SIZE: 90%; TEXT-ALIGN: center
}
.alignright {
	TEXT-ALIGN: right
}
.line {
	BORDER-TOP: #ccc 1px dotted
}
.homepage {
	PADDING-BOTTOM: 40px
}
.homebanner {
	BACKGROUND: #cac9c5; MARGIN: 0px
}
.homepage H1 {
	PADDING-RIGHT: 12px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 12px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 120%; BACKGROUND: #d6d6d6; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; COLOR: #5c5c5c; PADDING-TOP: 4px; BORDER-RIGHT-WIDTH: 0px
}
.homepage P.intro {
	PADDING-BOTTOM: 0px; MARGIN: 12px 12px 0px
}
.homepage P {
	PADDING-BOTTOM: 0px; MARGIN: 12px 12px 0px
}
.homepage UL {
	MARGIN: 12px 12px 0px 10px
}
#sidebar {
	MIN-HEIGHT: 400px; BACKGROUND: #e3e3e3; FLOAT: right; WIDTH: 174px
}
#sidebar H1 {
	BORDER-TOP-WIDTH: 0px; BACKGROUND: #5c5c5c; COLOR: #e3e6ec; PADDING-TOP: 5px
}
TABLE.login {
	MARGIN: 0px auto; WIDTH: 160px; HEIGHT: 96px
}
TABLE.login TD.label {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.login TD.value {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#sidebar P {
	
}
.label {
	FONT-WEIGHT: bold; WIDTH: 30%; TEXT-ALIGN: right
}
.value INPUT {
	MARGIN-TOP: -5px; DISPLAY: block
}
.value SELECT {
	MARGIN-TOP: -5px; DISPLAY: block
}
.value TEXTAREA {
	MARGIN-TOP: -5px; DISPLAY: block
}
TD.space {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.value {
	PADDING-LEFT: 0px
}
.value TEXTAREA {
	WIDTH: 380px
}
.pad10 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.value .line {
	MARGIN: 5px
}
.label {
	FONT-SIZE: 92%
}
.label LABEL {
	FONT-SIZE: 100%
}
.pad10 .line {
	MARGIN: 10px
}
.hiddenwrapper {
	BACKGROUND: #f5f8e8
}
.hidden {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 35px; PADDING-TOP: 10px
}
.value .hidden INPUT {
	MARGIN-TOP: 0px
}
.value .hidden SELECT {
	MARGIN-TOP: 0px
}
.value .hidden TEXTAREA {
	MARGIN-TOP: 0px
}
.alignright .hidehelp {
	MARGIN-TOP: -4px; FLOAT: right; WIDTH: 4em; TEXT-ALIGN: left
}
.replace {
	TEXT-DECORATION: underline
}
.calendaricon {
	PADDING-LEFT: 5px; VERTICAL-ALIGN: middle
}
#footerwrapper {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; TEXT-TRANSFORM: uppercase
}
#footernavwrapper {
	BORDER-TOP: #cacaca 1px solid; BACKGROUND: #5c5c5c; BORDER-BOTTOM: #cacaca 1px solid; HEIGHT: 2em; TEXT-ALIGN: center
}
#footernav {
	MARGIN: 0px auto; WIDTH: 500px
}
#footernav A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 1px dotted; COLOR: #fff; LINE-HEIGHT: 2em; PADDING-TOP: 0px
}
#footernav A:hover {
	BACKGROUND: #6a8989; TEXT-DECORATION: none
}
#footernav A.last {
	BORDER-RIGHT: #fff 1px dotted
}
#partnerlogos {
	PADDING-TOP: 10px; TEXT-ALIGN: center
}
