span.fieldError, .errorMessage {
    color: red;
    font-size: .95em;
    font-weight: bold;
    display: block;
}

div.message {
    background: #ffffcc;
    border: 1px solid #000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 10px auto;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
}

.required {
    font-weight: bold;
    color: red;
    background-color: #fff;
}
p>.required {
    background-color: #FEF9EB;
}

.boxpad2extend
{ padding:7px 3px 0 10px; border-top: 0px; border:1px solid #fff; border-bottom:1px solid #ccc; background:#e5e5e5; height:1%; }

/* Tabs */

#tabs UL
{ height:28px; font-weight:bold; list-style:none; margin:0; padding-left:5px; clear:both; background:url("../images/bg_tabbar.gif") repeat-x bottom; border-bottom:1px solid #999   }
:lang(en) #tabs UL
{ height:30px }
#tabs UL LI
{ float:left;   margin:0;   padding:0 0 0 4px; text-align:center; min-height:.1%; height:20px }
#tabs UL LI A
{   display:block; margin:0; padding:5px 10px; background:#9d9a8e url("../images/bg_headerbar_tan.gif") repeat-x; color:#fff; text-decoration:none; border:1px solid #999; }
.tabs2 LI A
{ min-width:78px; width: auto; }
#tabs UL LI A:hover
{   color:#333; background-color:#efeee9; text-decoration:none; }
#tabs UL LI A.active
{ outline:none; color:#333; background-color:#efeee9; border-bottom:3px solid #efeee9; background-image:none }
#tabs UL LI.active
{ color:#333;   background-color:#efeee9; }
#tabs UL LI A:focus
{ -moz-outline-style:none; }

/* Tab Level 2 */

#tablevel2 UL
{ font-size:92%; height:3em; padding:0; font-weight:bold; }
#tablevel2 UL LI
{ float:left;   margin:0 4px 0 0;   padding:0; text-align:center; min-height:.1%; height:20px  }
#tablevel2 UL LI A
{   display:block; margin:0; padding:5px 10px; color:#333; text-decoration:none; border:1px solid #999; background:#e5e5e5 url("../images/bg_grad3d.gif") repeat-x; }
#tablevel2 UL LI A.selected
{   display:block; margin:0; padding:5px 10px; color:#333; text-decoration:none; border:1px solid #4e4e4e; border-right:1px solid #fff; border-bottom:1px solid #fff; background:url("../images/bg_grad3d_reverse.gif") repeat-x; }
#tablevel2 UL LI A:hover
{   display:block; margin:0; padding:5px 10px; color:#333; text-decoration:none; border:1px solid #000; background:#fff url("../images/bg_grad3d.gif") repeat-x 0 10px; }
#tablevel2 UL LI A.selected:hover
{   display:block; margin:0; padding:5px 10px; color:#333; text-decoration:none; border:1px solid #000; background:url("../images/bg_grad3d_reverse.gif") repeat-x; }

/* Tab Level 2 */

UL#tablevel2
{ font-size:92%; height:3em; padding:0; font-weight:bold; }
UL#tablevel2 LI
{ float:left;   margin:0 4px 0 0;   padding:0; text-align:center; min-height:.1%; height:20px  }
UL#tablevel2 LI A
{   display:block; margin:0; padding:5px 10px; color:#333; text-decoration:none; border:1px solid #999; background:#e5e5e5 url("../images/bg_grad3d.gif") repeat-x; }
UL#tablevel2 LI A.selected
{   display:block; margin:0; padding:5px 10px; color:#333; text-decoration:none; border:1px solid #4e4e4e; border-right:1px solid #fff; border-bottom:1px solid #fff; background:url("../images/bg_grad3d_reverse.gif") repeat-x; }
UL#tablevel2 LI A:hover
{   display:block; margin:0; padding:5px 10px; color:#333; text-decoration:none; border:1px solid #000; background:#fff url("../images/bg_grad3d.gif") repeat-x 0 10px; }
UL#tablevel2 LI A.selected:hover
{   display:block; margin:0; padding:5px 10px; color:#333; text-decoration:none; border:1px solid #000; background:url("../images/bg_grad3d_reverse.gif") repeat-x; }


TD.tdLabel
{ width:28%; text-align:right; font-weight:bold; }
TD LABEL
{ display: inline; }
TABLE.form TD INPUT, TABLE.form TD SELECT, TABLE.form TD TEXTAREA
{ margin-top:-3px; margin-left:0 }
TABLE.form TD SELECT.inline, TABLE.form TD INPUT.inline, INPUT.inline
{ display:block; float:left }
TABLE.form TD INPUT[type=radio], .searchresults INPUT[type=radio]
{ margin-top:0 }
TABLE.form TD TEXTAREA
{ width:380px }
TABLE.form TD .line
{ margin:5px }
TABLE.form TD .hidden INPUT, TABLE.form TD .hidden SELECT, TABLE.form TD .hidden TEXTAREA
{ margin-top:0px }

.scrolltable
{ overflow:auto; height:200px; background:#fff; border: 1px solid #999; margin:5px 0 }
