@import url(style.css);
@import url(messages.css);

/* Temporary placement of CSS button styles. eventually to be integrated */
A.btn 

{ width:auto; background:transparent url("../images/bg_btn_right.gif") no-repeat scroll top right; color:#414141; display:block; float:left; font:normal 12px arial, sans-serif; height:24px; line-height:24px; margin:0 20px; padding-right:9px; /* sliding doors padding */ text-decoration:none; }

.actionsthin A.btn

{ margin:0 10px }

A.btn SPAN.btn_img 

{ background:transparent url("../images/bg_btn_left.gif") no-repeat; display:block; line-height:17px; padding:4px 0 3px 9px; }

A.btn:hover

{ background-position:center right; text-decoration:none; }

A.btn:hover SPAN.btn_img 

{ background:transparent url("../images/bg_btn_left.gif") no-repeat 0 -29px; display:block; line-height:17px; padding:4px 0 3px 9px; }

A.btn:active 

{ background-position:bottom right; color:#000; outline:none; /* hide dotted outline in Firefox */ }

A.btn:active SPAN.btn_img 

{ background-position:bottom left; padding:5px 0 2px 9px; /* push text down 1px */ }

A.btn SPAN SPAN

{ display:block; padding:0 0 0 20px }

A.btn SPAN.add

{ background:url("../images/ico_add.gif") no-repeat; }

A.btn SPAN.cancel

{ background:url("../images/ico_cancel.gif") no-repeat; }

A.btn SPAN.copy

{ background:url("../images/ico_copy.gif") no-repeat; }

A.btn SPAN.delete

{ background:url("../images/ico_delete.gif") no-repeat; }

A.btn SPAN.edit

{ background:url("../images/ico_edit.gif") no-repeat; }

A.btn SPAN.filter

{ background:url("../images/ico_filter.gif") no-repeat; }

A.btn SPAN.import

{ background:url("../images/ico_import.gif") no-repeat; }

A.btn SPAN.launch_download

{ background:url("../images/ico_launch_download.gif") no-repeat; }

A.btn SPAN.manage_associations

{ background:url("../images/ico_manage_associations.gif") no-repeat; }

A.btn SPAN.register

{ background:url("../images/ico_register.gif") no-repeat; }

A.btn SPAN.save

{ background:url("../images/ico_save.gif") no-repeat; }

A.btn SPAN.search

{ background:url("../images/ico_search.gif") no-repeat; }

A.btn SPAN.submit_experiment

{ background:url("../images/ico_submit_experiment.gif") no-repeat; }

A.btn SPAN.validate

{ background:url("../images/ico_validate.gif") no-repeat; }

