
/**************/
/**  Header  **/
/**************/
#nciheader { 
	background:#a90101; 
	height:37px; 
}

#ncilogo { 
	float:left; 
	width:283px; 
	height:37px; 
}

#nihtag { 
	float:right; 
	width:295px; 
	height:37px; 
}

/************/
/**  Body  **/
/************/
.ncibody {
	margin-top: 50px; 
	margin-bottom: 40px;
}

/**************/
/**  Footer  **/
/**************/
#footerwrapper {
	background: #fff;
	clear: both;
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
}

#footernavwrapper {
	text-align: center;
	background: #5c5c5c;
	height: 2.0em;
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
}

#footernav {
	margin: 0 auto;
	width: 540px;
}

#footernav A {
	display: block;
	float: left;
	color: #fff;
	padding: 0 10px;
	line-height: 2.0em;
	border-left: 1px dotted #fff;
}

#footernav A:hover {
	background: #414141;
	text-decoration: none;
}

#footernav A.last {
	border-right: 1px dotted #fff;
}

#partnerlogos {
	padding-top: 10px;
	text-align: center;
}
