<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- @DATASOURCE_CONFIG_START@
        <property name="hibernate.connection.datasource">java:jdbc/CaArrayDataSource</property>
        <property name="current_session_context_class">jta</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.CMTTransactionFactory</property>
        <property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>
        @DATASOURCE_CONFIG_END@ -->

        <!-- @HIBERNATE_CONFIG_START@
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://@SERVERNAME@/@DBNAME@</property>
        <property name="hibernate.connection.username">@DBUSER@</property>
        <property name="hibernate.connection.password">@DBPASSWD@</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        @HIBERNATE_CONFIG_END@ -->

        <!-- mapping files -->        
		<mapping class="edu.georgetown.pir.AdditionalOrganismName" />
        <mapping class="edu.georgetown.pir.Organism" />
        <mapping class="edu.wustl.catissuecore.domain.MolecularSpecimen" />
        <mapping class="edu.wustl.catissuecore.domain.Specimen" />
        <mapping class="gov.nih.nci.caarray.domain.array.AbstractDesignElement"/>
        <mapping class="gov.nih.nci.caarray.domain.array.AbstractProbe"/>
        <mapping class="gov.nih.nci.caarray.domain.array.Array"/>
        <mapping class="gov.nih.nci.caarray.domain.array.ArrayGroup"/>
        <mapping class="gov.nih.nci.caarray.domain.array.ArrayDesign"/>
        <mapping class="gov.nih.nci.caarray.domain.array.ArrayDesignDetails"/>
        <mapping class="gov.nih.nci.caarray.domain.array.Feature"/>
        <mapping class="gov.nih.nci.caarray.domain.array.ExonProbeAnnotation"/>
        <mapping class="gov.nih.nci.caarray.domain.array.ExpressionProbeAnnotation"/>
        <mapping class="gov.nih.nci.caarray.domain.array.LogicalProbe"/>
        <mapping class="gov.nih.nci.caarray.domain.array.PhysicalProbe"/>
        <mapping class="gov.nih.nci.caarray.domain.array.ProbeGroup"/>
        <mapping class="gov.nih.nci.caarray.domain.array.SNPProbeAnnotation"/>
        <mapping class="gov.nih.nci.caarray.domain.contact.Address"/>
        <mapping class="gov.nih.nci.caarray.domain.contact.Organization"/>
        <mapping class="gov.nih.nci.caarray.domain.contact.Person"/>
        <mapping class="gov.nih.nci.caarray.domain.data.ArrayDataType"/>
        <mapping class="gov.nih.nci.caarray.domain.data.BooleanColumn"/>
        <mapping class="gov.nih.nci.caarray.domain.data.CharacterColumn"/>
        <mapping class="gov.nih.nci.caarray.domain.data.DataSet"/>
        <mapping class="gov.nih.nci.caarray.domain.data.DerivedArrayData"/>
        <mapping class="gov.nih.nci.caarray.domain.data.DoubleColumn"/>
        <mapping class="gov.nih.nci.caarray.domain.data.FloatColumn"/>
        <mapping class="gov.nih.nci.caarray.domain.data.HybridizationData"/>
        <mapping class="gov.nih.nci.caarray.domain.data.Image"/>
        <mapping class="gov.nih.nci.caarray.domain.data.IntegerColumn"/>
        <mapping class="gov.nih.nci.caarray.domain.data.LongColumn"/>
        <mapping class="gov.nih.nci.caarray.domain.data.QuantitationType"/>
        <mapping class="gov.nih.nci.caarray.domain.data.RawArrayData"/>
        <mapping class="gov.nih.nci.caarray.domain.data.ShortColumn"/>
        <mapping class="gov.nih.nci.caarray.domain.data.StringColumn"/>
        <mapping class="gov.nih.nci.caarray.domain.file.CaArrayFile"/>
        <mapping class="gov.nih.nci.caarray.domain.hybridization.Hybridization"/>
        <mapping class="gov.nih.nci.caarray.domain.permissions.CollaboratorGroup"/>
        <mapping class="gov.nih.nci.caarray.domain.permissions.AccessProfile"/>
        <mapping class="gov.nih.nci.caarray.domain.project.Factor"/>
        <mapping class="gov.nih.nci.caarray.domain.project.FactorValue"/>
        <mapping class="gov.nih.nci.caarray.domain.project.Experiment"/>
        <mapping class="gov.nih.nci.caarray.domain.project.ExperimentContact"/>
        <mapping class="gov.nih.nci.caarray.domain.project.Project"/>
        <mapping class="gov.nih.nci.caarray.domain.project.Proposal"/>
        <mapping class="gov.nih.nci.caarray.domain.protocol.Parameter"/>
        <mapping class="gov.nih.nci.caarray.domain.protocol.ParameterValue"/>
        <mapping class="gov.nih.nci.caarray.domain.protocol.Protocol"/>
        <mapping class="gov.nih.nci.caarray.domain.protocol.ProtocolApplication"/>
        <mapping class="gov.nih.nci.caarray.domain.publication.Publication"/>
        <mapping class="gov.nih.nci.caarray.domain.sample.Characteristic"/>
        <mapping class="gov.nih.nci.caarray.domain.sample.Extract"/>
        <mapping class="gov.nih.nci.caarray.domain.sample.LabeledExtract"/>
        <mapping class="gov.nih.nci.caarray.domain.sample.Sample"/>
        <mapping class="gov.nih.nci.caarray.domain.sample.Source"/>
        <mapping class="gov.nih.nci.caarray.domain.sequence.Sequence"/>
        <mapping class="gov.nih.nci.caarray.domain.data.Image"/>
        <mapping class="gov.nih.nci.caarray.domain.data.RawArrayData"/>
        <mapping class="gov.nih.nci.caarray.domain.data.DerivedArrayData"/>
        <mapping class="gov.nih.nci.caarray.domain.hybridization.Hybridization"/>
        <mapping class="gov.nih.nci.caarray.domain.vocabulary.Accession"/>
        <mapping class="gov.nih.nci.caarray.domain.vocabulary.Category"/>
        <mapping class="gov.nih.nci.caarray.domain.vocabulary.Term"/>
        <mapping class="gov.nih.nci.caarray.domain.vocabulary.TermSource"/>
        <mapping class="gov.nih.nci.caarray.validation.ValidationMessage"/>
        <mapping class="gov.nih.nci.caarray.validation.FileValidationResult"/>
        <mapping class="gov.nih.nci.cabio.domain.ArrayReporter"/>
        <mapping class="gov.nih.nci.cabio.domain.ExonArrayReporter"/>
        <mapping class="gov.nih.nci.cabio.domain.ExpressionArrayReporter"/>
        <mapping class="gov.nih.nci.cabio.domain.Microarray"/>
        <mapping class="gov.nih.nci.cabio.domain.SNPArrayReporter"/>
        <mapping class="gov.nih.nci.cabio.domain.TranscriptArrayReporter"/>
    </session-factory>
</hibernate-configuration>
